<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Info</title>
  </head>
  <body>
    <h1>Message Information</h1>
    <%- include('./reusableTemplates/navigationView')%>
    <ul>
      <%for(let prop in message){%>

      <li><%=prop%> : <%=message[prop]%></li>
      <%}%>
    </ul>
  </body>
</html>
